# --- .NET / C# ---
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# --- IDEs ---
.vs/
.vscode/
.idea/

# --- Logs / OS ---
*.log
logs/
Thumbs.db
.DS_Store

# --- EF Core tmp ---
Migrations/**/.*tmp*

# --- Secrets / settings de dev ---
appsettings.Development.json
*/appsettings.Development.json

# --- Ignorar la solución en la raíz del repo ---
../ecommerce-tesis.sln
