# Build
bin/
obj/

# User-specific
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# EF Core local db
*.db

# appsettings secretos
appsettings.Development.json
